<form #loginForm="ngForm">
    <div>
        <mat-form-field>
            <input matInput placeholder="Логин" name="login" [(ngModel)]="login" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Пароль" name="password" [(ngModel)]="password" required>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="accent" [disabled]="loginForm.invalid" (click)="submit(loginForm)">Войти</button>
    </div>
</form>