<div class="container">
  <div class="page-header">{{ envelope.Name }}</div>
  <form #envelopeForm="ngForm">
    <mat-tab-group>
      <mat-tab label="Основное">
        <mat-form-field>
          <mat-select name="projectId" placeholder="Проект" [(ngModel)]="envelope.ProjectId">
            <mat-option *ngFor="let project of projects" [value]="project.Id">{{ project.Name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Наименование" name="name" [(ngModel)]="envelope.Name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Описание" name="description" [(ngModel)]="envelope.Description">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Текущая сумма" name="currentAmount" type="number" [(ngModel)]="envelope.CurrentAmount">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Необходимая сумма" name="targetAmount" type="number" [(ngModel)]="envelope.TargetAmount">
        </mat-form-field>
        <div>
          <mat-checkbox [(ngModel)]="envelope.IsDebet" name="isDebet">Источник для других конвертов</mat-checkbox>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="envelope.IsExternalCurrentAmount" name="isExternalCurrentAmount">Текущая сумма не влияет на баланс</mat-checkbox>
        </div>
        <div>
          <mat-checkbox [(ngModel)]="envelope.Enabled" name="enabled">Активен</mat-checkbox>
        </div>
        <div style="height: 20px"></div>
      </mat-tab>
      <mat-tab label="Планы">
        <table id="plans" style="width: 100%">
          <tr *ngFor="let plan of envelope.Plans" [ngClass]="{ planCompleted: plan.Completed }">
            <td width="40px" class="planDate" (click)="dpActionDate.open()">
              <div>{{ plan.ActionDate | date:'dd.MM' }}</div>
              <div style="visibility: hidden; height: 0px !important">
                <input matInput [matDatepicker]="dpActionDate" placeholder="Дата" [(ngModel)]="plan.ActionDate" [ngModelOptions]="{standalone: true}"
                  (click)="dpActionDate.open()" (dateChange)="planDateChanged(plan)">
              </div>
              <mat-datepicker #dpActionDate [touchUi]="true"></mat-datepicker>
            </td>
            <td class="planDescription">
              <textarea matInput placeholder="Комментарий" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5" [(ngModel)]="plan.Description"
                [ngModelOptions]="{standalone: true}" (ngModelChange)="planChanged(plan)"></textarea>
            </td>
            <td width="24px" class="planSign" (click)="changePlanSign(plan)" [ngClass]="plan.cssClass">
              <mat-icon *ngIf="plan.IsIncoming">add</mat-icon>
              <mat-icon *ngIf="!plan.IsIncoming">remove</mat-icon>
            </td>
            <td width="100px" class="planSum" [ngClass]="plan.cssClass">
              <input matInput placeholder="Сумма" type="number" [(ngModel)]="plan.PlanAmount" [ngModelOptions]="{standalone: true}"
                (ngModelChange)="planChanged(plan)">
            </td>
            <td width="20px">
              <mat-icon [matMenuTriggerFor]="planMenu" (click)="planMenuOpened(plan)">more_vert</mat-icon>
            </td>
          </tr>
        </table>
        <div style="margin-top: 20px;">
          <a href="#" (click)="addPlan()">Добавить план</a>
        </div>
        <mat-menu #planMenu="matMenu">
          <button mat-menu-item (click)="changePlanCompleted()">Выполнен</button>
          <button mat-menu-item (click)="deletePlan()">Удалить</button>
        </mat-menu>
      </mat-tab>
      <mat-tab label="Изображение">Изображение</mat-tab>
    </mat-tab-group>
    <div style="margin-top: 20px; text-align: right;">
      <button type="button" mat-raised-button color="accent" [disabled]="envelopeForm.invalid" (click)="save(envelopeForm)">Сохранить</button>
      <button mat-button (click)="onBackClick()">Отмена</button>
    </div>
  </form>
</div>