<md-toolbar color="accent">
  <table id="header">
    <tr>
      <td><span>Конверты</span></td>
      <td style="width: 100%"></td>
      <td><button id="menuButton" md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon></button></td>
    </tr>
  </table>
</md-toolbar>
<md-menu #appMenu="mdMenu">
  <button md-menu-item>Item1</button>
  <button md-menu-item>Item2</button>
</md-menu>
<router-outlet></router-outlet>
<div id="errorOverlay">
  <div id="errorOverlayBody">
      <p>Content you want the user to see goes here.</p>
  </div>
 </div>