<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap>
    <div *ngFor="let envelope of envelopes" class="envelopeImaged" [style.background-image]="envelope.background" fxFlex="282px"
        fxFlex.xs="200px">
        <div fxLayout="column" fxLayoutAlign="space-between stretch" style="height: 100%">
            <table class="envelopeTop">
                <tr>
                    <td [ngClass]="envelope.nameClass">
                        <div>{{ envelope.Name }}</div>
                    </td>
                    <td class="currentAmount" [ngClass]="envelope.currentAmountClass" *ngIf="envelope.CurrentAmount">
                        <b>{{ envelope.CurrentAmount | money }}</b>
                    </td>
                </tr>
            </table>

            <div *ngIf="envelope.TargetAmount" class="completePercent" fxFlexAlign="center">
                <span title="Необходимая сумма - {{ envelope.TargetAmount | money }}">{{ envelope.completePercentStr }}</span>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div [ngClass]="envelope.firstPlanIn.cssClass" *ngIf="envelope.firstPlanIn">
                    <span class="planDate">
                        {{ envelope.firstPlanIn.ActionDate | date:'dd.MM' }}:
                    </span>+{{ envelope.firstPlanIn.PlanAmount | money }}
                </div>
                <div [ngClass]="envelope.firstPlanOut.cssClass" *ngIf="envelope.firstPlanOut">
                        <span class="planDate">
                            {{ envelope.firstPlanOut.ActionDate | date:'dd.MM' }}:
                        </span>-{{ envelope.firstPlanOut.PlanAmount | money }}
                    </div>
                </div>
        </div>
    </div>
</div>