.envelopeImaged {
    height: 200px;
    margin-right: 3px; 
    margin-bottom: 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*overflow: scroll;*/
}

.envelopeTop {
    color: #ffffff;
}

.envelopeTop td {
    padding: 3px 7px; 
}

.debetEnvelope {
    background-color: rgba(71, 220, 22, 0.6) !important;
}

.externalEnvelope {
    background-color: rgba(33, 33, 33, 0.6) !important;
    color: #e4e4de !important;
}

.envelopeName {
    width: 100%; 
    background-color: rgba(62, 127, 182, 0.6);
}

.envelopeNameHidden {
    width: 100%; 
}

.envelopeNameHidden div {
    display: none;
}

.currentAmount {
    font-size: 1.5rem;
    background-color: rgba(62, 127, 182, 0.6);
}

.completePercent span {
    padding: 5px 7px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3e7fb6;
    background-color: rgba(255, 255, 255, 0.8);
}

.envelopePlan, .envelopePlanInDebet, .envelopePlanOut, .envelopePlansSum {
    color: white;
    padding: 3px 5px; 
    font-weight: bold;
    font-size: 1.2rem;
}

.envelopePlan {
    background-color: rgba(254, 199, 9, 0.8);
}

.envelopePlanInDebet {
    background-color: rgba(71, 220, 22, 0.8);
}

.envelopePlanOut {
    background-color: rgba(249, 100, 99, 0.8);
}

.planDate {
    color: black;
    font-weight: normal;
}

.envelopePlansSum {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

#balance {
    margin-bottom: 10px;
}

.freeSumHigh {
    background-color: #a6f28d;
}

.freeSumMedium {
    background-color: #fee670;
}

.freeSumLow {
    background-color: #fcbaab;
}
