<div id="balance">
    <mat-expansion-panel #balancePanel [ngClass]="balanceCssClass">
        <mat-expansion-panel-header>
            <mat-panel-description>
                <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-between center" style="width: 100%">
                    <div *ngIf="balancePanel.expanded">
                        <b>Баланс периода</b>
                    </div>
                    <div *ngIf="!balancePanel.expanded">
                        <div>с {{ selectedProject.PeriodStartDate | date:'dd.MM' }}</div>
                        <div>по {{ selectedProject.PeriodEndDate | date:'dd.MM' }}</div>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <balance-value [data]="balanceValue" [canExpand]="false" *ngFor="let balanceValue of balanceValuesInHeader">
                        </balance-value>
                    </div>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start stretch" fxLayoutGap="10px">
            <div>
                <mat-form-field style="width: 245px">
                    <mat-select placeholder="Проект" [(ngModel)]="selectedProject">
                        <mat-option *ngFor="let project of projects" [value]="project">{{ project.Name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field style="width: 120px">
                    <input matInput [matDatepicker]="dpPeriodStart" placeholder="Начало периода" [(ngModel)]="selectedProject.PeriodStartDate">
                    <mat-datepicker-toggle matSuffix [for]="dpPeriodStart"></mat-datepicker-toggle>
                    <mat-datepicker #dpPeriodStart [touchUi]="true"></mat-datepicker>
                </mat-form-field>
                <mat-form-field style="width: 120px">
                    <input matInput [matDatepicker]="dpPeriodEnd" placeholder="Окончание периода" [(ngModel)]="selectedProject.PeriodEndDate">
                    <mat-datepicker-toggle matSuffix [for]="dpPeriodEnd"></mat-datepicker-toggle>
                    <mat-datepicker #dpPeriodEnd [touchUi]="true"></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div id="balanceStatistic" fxLayout="row" fxLayoutWrap fxLayoutAlign="start stretch">
            <balance-value fxFlex="165px" [data]="balanceValue" [balanceValuesInHeader]="balanceValuesInHeader" *ngFor="let balanceValue of balanceValues">
            </balance-value>
        </div>
    </mat-expansion-panel>
</div>

<div fxLayout="row" fxLayoutWrap>
    <div *ngFor="let envelope of envelopes" class="envelopeImaged" [style.background-image]="envelope.background" 
        fxFlex="282px" fxFlex.xs="100%" fxFlex.sm="32%" fxFlex.md="24%"
        (click)="onEnvelopeClick(envelope, $event)">
        <div fxLayout="column" fxLayoutAlign="space-between stretch" style="height: 100%">
            <table class="envelopeTop">
                <tr>
                    <td [ngClass]="envelope.nameClass">
                        <div>{{ envelope.Name }}</div>
                    </td>
                    <td class="currentAmount" [ngClass]="envelope.currentAmountClass" *ngIf="envelope.CurrentAmount">
                        <b>{{ envelope.CurrentAmount | money }}</b>
                    </td>
                </tr>
            </table>

            <div *ngIf="envelope.TargetAmount" class="completePercent" fxFlexAlign="center">
                <span title="Необходимая сумма - {{ envelope.TargetAmount | money }}">{{ envelope.completePercentStr }}</span>
            </div>

            <div>
                <div *ngIf="envelope.allPlansForShow">
                    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="{{ envelope.allPlansAlign }}">
                        <div *ngFor="let plan of envelope.allPlansForShow" [ngClass]="plan.cssClass">
                            <span class="{{ planDateClassName }}">
                                {{ plan.ActionDate | date:'dd.MM' }}:
                            </span>{{ plan.PlanAmount | money }}
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="{{ envelope.allPlansAlign }}">
                        <div (click)="showHideAllPlans(envelope, envelope.firstPlanIn)" class="envelopePlansSum">
                            <span class="{{ planDateClassName }}">
                                Всего:
                            </span>{{ envelope.allPlansSum | money }}
                        </div>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="!envelope.allPlansForShow">
                    <div (click)="showHideAllPlans(envelope, envelope.firstPlanIn)">
                        <div *ngIf="envelope.firstPlanIn" [ngClass]="envelope.firstPlanIn.cssClass">
                            <span class="{{ planDateClassName }}">
                                {{ envelope.firstPlanIn.ActionDate | date:'dd.MM' }}:
                            </span>{{ (envelope.IsDebet ? '+' : '') + (envelope.firstPlanIn.PlanAmount | money) }}
                        </div>
                    </div>
                    <div (click)="showHideAllPlans(envelope, envelope.firstPlanOut)">
                        <div *ngIf="envelope.firstPlanOut" [ngClass]="envelope.firstPlanOut.cssClass">
                            <span class="{{ planDateClassName }}">
                                {{ envelope.firstPlanOut.ActionDate | date:'dd.MM' }}:
                            </span>-{{ envelope.firstPlanOut.PlanAmount | money }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>