.value {
    font-size: 1.2rem;
    font-weight: bold;   
    color: #2a6496;
}

.balanceSum {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.6);
    padding: 5px;
}

.bordered {
    border: 1px solid white;
}

.balancePlaceholder {
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.4);
}

.description {
    margin-top: 10px;
    line-height: 1rem;
}

.description mat-icon {
    font-size: 1rem;
    height: 15px;
}

.inHeaderCheckbox {
    margin-top: 5px;
}