/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: rgb(97, 97, 95);
}

a {
    color: rgb(51, 122, 183);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.mat-tab-body-wrapper {
    margin-top: 10px;
}

.page-header {
    font-size: 2rem;
}

.envelopePlan {
    background-color: rgba(254, 199, 9, 0.8);
}

.envelopePlanInDebet {
    background-color: rgba(71, 220, 22, 0.8);
}

.envelopePlanOut {
    background-color: rgba(249, 100, 99, 0.8);
}
