/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: rgb(97, 97, 95);
}

.mat-tab-body-wrapper {
    margin-top: 10px;
}

.page-header {
    font-size: 2rem;
}